graft src/plone/volto
graft docs
include *.rst
include *.txt
recursive-include requirements *.txt
exclude *.cfg
exclude *.yml
exclude *.in
exclude *.jmx
exclude *.yaml
exclude .coveragerc
exclude .editorconfig
exclude .flake8
exclude Dockerfile
exclude Makefile
exclude CODEOWNERS
exclude docs/make.bat
recursive-exclude docs/doctrees *
recursive-exclude docs/html *
recursive-exclude performance *
exclude docs/Makefile
prune docs/Makefile
prune news
global-exclude *.pyc
include pyproject.toml